{% extends 'base.html.twig' %}

{% block title %}Edit CategoriesTree{% endblock %}

{% block body %}
    <h1>Edit CategoriesTree</h1>

    {{ include('categories_tree/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categories_tree_index') }}">back to list</a>

    {{ include('categories_tree/_delete_form.html.twig') }}
{% endblock %}
